.wp-block-vigo-qr {
	padding: 2px;
	display: flex;
	flex-direction: column;

	.qr__content {
		justify-content: center;
		align-items: center;
		border: 1px solid #ccc;
		background-color: #eee;
		color: #902040;
		padding: 2px 8px;
	}

	.qr__content-input {
		margin: 1em 0;
	}
}
